
 <!--  <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">--> 
<suite name="myTestSuite">
<parameter name="browser" value="Chrome"></parameter>
	<test name="myTest">
	<listeners>
	<listener class-name="Listeners.Listeners"></listener>
	<listener class-name="Listeners.RetryListener"></listener>
	</listeners>
		<classes>
		
			 <class name="testscript.LoginTest"></class>
		   <class name="testscript.CategoryTest"></class>
			<class name="testscript.ContactTest"></class>
			<class name="testscript.FooterTextTest"></class>
			<class name="testscript.NewsTest"></class>
		</classes>
	</test>
	
</suite>

